## coupon_visit_train.csv
Viewing history of users during training period. 2.8 Mil rows

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

dn = '/Users/aa/lab/kaggle/couponpurchase/data/'

In [4]:
view_hist = pd.read_csv(dn+'train/coupon_visit_train.csv', 
                          header=0, 
                          parse_dates=['I_DATE'])
view_hist.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2833180 entries, 0 to 2833179
Data columns (total 8 columns):
PURCHASE_FLG           2833180 non-null int64
I_DATE                 2833180 non-null datetime64[ns]
PAGE_SERIAL            2833180 non-null int64
REFERRER_hash          2833180 non-null object
VIEW_COUPON_ID_hash    2833180 non-null object
USER_ID_hash           2833180 non-null object
SESSION_ID_hash        2833180 non-null object
PURCHASEID_hash        122389 non-null object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 194.5+ MB

In [7]:
len(view_hist.VIEW_COUPON_ID_hash.unique())

32628

In [3]:
view_hist.head()

,PURCHASE_FLG,I_DATE,PAGE_SERIAL,REFERRER_hash,VIEW_COUPON_ID_hash,USER_ID_hash,SESSION_ID_hash,PURCHASEID_hash
0,0,2012-03-28 14:15:00,7,7d3892e54acb559ae36c459978489330,34c48f84026e08355dc3bd19b427f09a,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
1,0,2012-03-28 14:17:28,9,7d3892e54acb559ae36c459978489330,34c48f84026e08355dc3bd19b427f09a,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
2,0,2012-03-28 14:20:05,16,7d3892e54acb559ae36c459978489330,17c450c3b470c045d35ec22b02daa690,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
3,0,2012-03-28 14:23:16,18,7d3892e54acb559ae36c459978489330,91a15e6a95d09e5e01b50747833b317d,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
4,0,2012-03-28 14:26:25,20,7d3892e54acb559ae36c459978489330,96fcbc8f6e45d5a2de1661eb140c6e82,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN